services:
  mongodb:
    image: mongo:7
    container_name: mongo-docker
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - backend_net

  springboot_app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: springboot-docker
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    environment:
      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - ./backend/.env
    networks:
      - backend_net
      - react

  react_app:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: react-docker
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
    networks:
      - react

volumes:
  mongo_data:

networks:
  backend_net:
    driver: bridge
  react:
    driver: bridge